<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1>Edit <%= location.name.charAt(0) + location.name.substring(1) %></h1>
        <div class="form">
            <form action="/locations/<%= location._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" name="location[name]" type="text" value="<%= location.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" name="location[region]" type="text" value="<%= location.region %>">
                </div>
                <div class="form-group">
                    <input class="form-control" name="location[image]" type="text" value="<%= location.image %>">
                </div>
                <div class="form-group">
                 <input class="form-control" name="location[desc]" type="text" value="<%= location.desc %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a class="go-back" href="/locations">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>